@import '_settings'
@import 'slyck'
@import 'slyck-theme'

normalize-css()
base()

body
  background: $black
  .stage
    width: 80%
    margin: 0 auto
    text-align: center
    .photos
      .item
        text-align: center
        .photo
          width: auto
          height: 100vh
          margin: 0 auto
